@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    /* font-family: 'Lexend Deca', sans-serif; */
    font-family: 'Nunito Sans', sans-serif;

}
body{
    background-color: #f8fafc;
}
a:hover{
    text-decoration: none;
}
html,
.flex {
    height: 100vh;
}
.wrapper{
    min-height: 100%;
}
.logo {
    margin: 0;
    font-weight: bold;
    padding: 0;
    font-size: 25px;
    color: #c7ecee;
    /* text-shadow: 1px 1px 1px white; */
    width: 300px;
    text-align: center;
}
.logo:hover{
    color: #c7ecee;
}
.logo span {
    /* color: red; */
}

header {
    /* padding: 20px 10px; */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    /* padding-left: 310px; */
    z-index: 22121;
    /* background-color: white; */
    z-index: 5;
    color: white;
    background-color: #4f5a6e;
    /* background-color: transparent; */
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
}
.sidebar{
    /* z-index: 10; */
    /* padding-top: 50px; */
    position: fixed;
    transform: translateX(0%); 
    left: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    background-color: #4f5a6e;
    padding-top: 50px;

    /* justify-content: center; */

}
a.sidebar-item {
    text-transform: lowercase;
    font-size: 17px;
    /* font-weight: bold; */
    color: white;
    width: 100%;
    padding: 15px;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
a.sidebar-item i{
    position: absolute;
    right: 19px;
    transform: translateX(-50%);
}
a.sidebar-item.active{
    background-color: #424b5f;
    box-sizing: border-box;
    border-left: 2px solid blue;
}
a.sidebar-item:hover{
    opacity: .7;
}
main{
    /* padding-top: 100px; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* padding: 30px 190px; */
    padding-left: 400px !important;
    padding-right: 120px;
}
.blog{
    background-color: white;
    padding: 20px 0px;
}
.blog-head{
    border-bottom: 2px solid #ecf0f1;
    padding-bottom: 20px;
}
.blog-head .img-div{
    height: 280px;
    width: 100%;
}
.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
.blog-body{
    padding-top: 20px;
}
.post .img-div{
    height: 240px;
    width: 100% !important;
}
.post .post-title{
    font-size: 15px;
    font-weight: bold;
}
footer{
    background-color: #4f5a6e;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}
.title-text{
    font-size: 32px;
}
.content-text{
    font-size: 16px;
    padding-right: 8px;
}
.post-view .col-12 .div-img{
 width: 100%;
 height: 500px;
}
.post-view{
    /* padding: 20px 300px; */
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
}
.post-view .post-title{
    font-size: 35px;
    font-weight: bold;
}
.post-view .post-content{
    max-width: max-content;
    max-height: max-content;
    font-size: 15px;
    word-break: break-all;
}
.sidebar-btn{
    display: none;
}
.previous-btn{
    display: none;
}
.page-link.active{
    background-color: #3498db;
    color: white;
}
@media only screen and (max-width: 1200px) {
    .post-view .col-12 .div-img{
        width: 100%;
        height: 400px;
       }
    .test{
        display: none !important;
    }

    .title-text{
        font-size: 13px;
    }
    .content-text{
        font-size: 7px;
    }
    .previous-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sidebar {
        transform: translateX(-100%);
        transition: 500ms all;
        width: 100%;
        z-index: 555;
    }
    .logo{
        width: auto;
    }

    .sidebar-btn{
        display: block;
    }
    main{
       padding: 80px 20px !important;
    }
    header{
        padding-left: 30px !important;
    }
}
@media only screen and (min-width: 1200px) and  (max-width: 1650px){
    .blog{
        padding: 30px 50px;
    }
    .title-text{
        font-size: 24px !important;
    }
    .content-text{
        font-size: 15px !important;
    }
}
@media only screen and (max-width: 1650px) {
    .title-text{
        font-size: 20px;
    }
    .content-text{
        font-size: 10px;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader .back {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100vh;
    z-index: 66;
    opacity: .8;
}

.loader .spinner-grow,
.loader .spinner-border {
    z-index: 80;
}